 <div nav-static="" data-wf--navbar--variant="dark" class="master-navigation">
        <div data-w-id="b37911c6-a26d-aee2-6377-d32fabf87afd" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
            <div class="nav-top-bg left" style="opacity: 0;"></div>
            <div class="nav-top-bg right" style="opacity: 0;"></div>
            <div class="nav-container">
                <div class="left-nav">
                    <div class="menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
                        <div class="menu-button-inner open">
                            <div class="icon-menu w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 12 12" fill="none">
                                    <path d="M2 6L10 6M2 9H10M2 3L10 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class="menu-button-inner close">
                            <div class="icon-menu w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
                                    <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                    </div><a href="/" class="brand-navbar w-nav-brand" aria-label="home">
                        <div class="logo-nav w-embed"><svg width="100%" height="auto" viewBox="0 0 135 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <img loading="lazy" src="https://i.ibb.co/yBxXHbJD/ARNE-Global-01.png"                                      alt="d" class="logo-footer">
                            </svg></div>
                    </a>
                </div>
                <nav role="navigation" class="nav-menu w-nav-menu">
                    <div class="wrap-nav-links">
                        <a href="/overview" class="nav-link w-inline-block">
                            <div>Overview</div>
                        </a>
                         <a href="/overview" class="nav-link w-inline-block">
                            <div>About us</div>
                        </a>
                        <a href="https://www.byq.studio/" target="_blank" class="nav-link w-inline-block">
                            <div>More Templates</div>
                        </a>
                    </div>
                    <!--MAIN NAV BAR MOBILE-->
                    <div class="mobile-menu">
                        <div class="wrap-mobile-menu">
                            <div class="mobile-nav-top-tile">
                                <div class="divider-dark-16"></div>
                                <div class="nav-column-item-mobile">
                                    <div class="mobile-links-wrap">
                                        <a href="/" class="text-large">Home A</a>
                                        <div class="text-large">·</div>
                                        <a href="/homepage/home-b" aria-current="page" class="text-large w--current">Home B</a>
                                        <div class="text-large">·</div>
                                        <a href="/homepage/home-c" class="text-large">Home C</a>
                                    </div>
                                    <div class="text-small body-medium">Crafted to scale with purpose-driven infrastructure projects.</div>
                                </div>
                                <div class="divider-dark-16"></div><a href="/about" class="nav-column-item-mobile w-inline-block">
                                    <div class="mobile-links-wrap">
                                        <div class="text-large">About</div>
                                    </div>
                                    <div class="text-small body-medium">How we think, work, and approach sustainable design.</div>
                                </a>
                                <div class="divider-dark-16"></div><a href="/services" class="nav-column-item-mobile w-inline-block">
                                    <div class="mobile-links-wrap">
                                        <div class="text-large">Services</div>
                                    </div>
                                    <div class="text-small body-medium">Position yourself as a thought leader and boost SEO.</div>
                                </a>
                                <div class="divider-dark-16"></div>
                                <div class="nav-column-item-mobile">
                                    <div class="mobile-links-wrap"><a href="/blogs/blog-a" class="text-large">Blog A</a>
                                        <div class="text-large">·</div><a href="/blogs/blog-b" class="text-large">Blog B</a>
                                        <div class="text-large">·</div><a href="/blogs/blog-c" class="text-large">Blog C</a>
                                    </div>
                                    <div class="text-small body-medium">Clearly outline your services in a modular way.</div>
                                </div>
                                <div class="divider-dark-16"></div><a href="/case-studies" class="nav-column-item-mobile w-inline-block">
                                    <div class="mobile-links-wrap">
                                        <div class="text-large">Case Studies</div>
                                    </div>
                                    <div class="text-small body-medium">A highly advanced CMS setup for showcasing case studies.</div>
                                </a>
                                <div class="divider-dark-16"></div>
                                <div class="nav-column-item-mobile">
                                    <div class="mobile-links-wrap"><a href="/contact/contact-a" class="text-large">Contact A</a>
                                        <div class="text-large">·</div><a href="/contact/contact-b" class="text-large">Contact B</a>
                                        <div class="text-large">·</div><a href="/contact/contact-c" class="text-large">Contact C</a>
                                    </div>
                                    <div class="text-small body-medium">Just say hi. We’re always curious to hear what you’re building.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <a href="https://www.byq.studio/template/halden-miller?utm_source=webflow&amp;utm_medium=referral&amp;utm_campaign=halden-miller (edited)" button="" data-wf--cta-small--variant="primary" class="cta-small w-inline-block">
                    <div class="button-text-mask button-2">
                        <div button-text="" class="button-text" aria-label="Get Template">
                            <div class="text-medium" Style="color:beige">Get d template</div>
                        </div>
                    </div>
                    <div button-bg="" class="button-bg" style="translate: none; rotate: none; scale: none; transform: translate3d(0px, 0px, 0px);"></div>
                </a>
            </div>
            <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
        </div>
        <div class="nav-blur left" style="opacity: 0;"></div>
        <div class="nav-blur right" style="opacity: 0;"></div>
        <div class="nav-blur mobile"></div>
    </div>

    <!----------------------------STICKY NAV BAR FOR SCROLLING------------------------->
    <div nav-sticky="" class="master-navigation sticky" style="translate: none; rotate: none; scale: none; transform: translate3d(0px, -100%, 0px) scale(1, 0);">
        <div data-w-id="c6ccb708-2860-7567-6fc2-b5d8774f36d2" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar sticky w-nav">
            <div class="nav-container">
                <div class="left-nav">
                    <div class="menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-1" aria-haspopup="menu" aria-expanded="false">
                        <div class="menu-button-inner open">
                            <div class="icon-menu w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 12 12" fill="none">
                                    <path d="M2 6L10 6M2 9H10M2 3L10 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class="menu-button-inner close">
                            <div class="icon-menu w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
                                    <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                    </div><a href="/" class="brand-navbar w-nav-brand" aria-label="home">
                        <div class="logo-nav w-embed"><svg width="100%" height="auto" viewBox="0 0 135 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <img loading="lazy" src="https://i.ibb.co/yBxXHbJD/ARNE-Global-01.png"                                      alt="d" class="logo-footer">
                            </svg></div>
                    </a>
                </div>
                 <nav role="navigation" class="nav-menu w-nav-menu">
                    <div class="wrap-nav-links">
                        <a href="/overview" class="nav-link w-inline-block">
                            <div>Overview</div>
                        </a>
                         <a href="/overview" class="nav-link w-inline-block">
                            <div>About us</div>
                        </a>
                        <a href="https://www.byq.studio/" target="_blank" class="nav-link w-inline-block">
                            <div>More Templates</div>
                        </a>
                    </div>
                    <!--MOBILE STICKY NAV BAR-->
                    <div class="mobile-menu">
                        <div class="wrap-mobile-menu">
                            <div class="mobile-nav-top-tile">
                                <div class="divider-dark-16"></div>
                                <div class="nav-column-item-mobile">
                                    <div class="mobile-links-wrap">
                                        <a href="/" class="text-large">Home A</a>
                                        <div class="text-large">·</div>
                                        <a href="/homepage/home-b" aria-current="page" class="text-large w--current">Home B</a>
                                        <div class="text-large">·</div>
                                        <a href="/homepage/home-c" class="text-large">Home C</a>
                                    </div>
                                    <div class="text-small body-medium">Crafted to scale with purpose-driven infrastructure projects.</div>
                                </div>
                                <div class="divider-dark-16"></div><a href="/about" class="nav-column-item-mobile w-inline-block">
                                    <div class="mobile-links-wrap">
                                        <div class="text-large">About</div>
                                    </div>
                                    <div class="text-small body-medium">How we think, work, and approach sustainable design.</div>
                                </a>
                                <div class="divider-dark-16"></div><a href="/services" class="nav-column-item-mobile w-inline-block">
                                    <div class="mobile-links-wrap">
                                        <div class="text-large">Services</div>
                                    </div>
                                    <div class="text-small body-medium">Position yourself as a thought leader and boost SEO.</div>
                                </a>
                                <div class="divider-dark-16"></div>
                                <div class="nav-column-item-mobile">
                                    <div class="mobile-links-wrap"><a href="/blogs/blog-a" class="text-large">Blog A</a>
                                        <div class="text-large">·</div><a href="/blogs/blog-b" class="text-large">Blog B</a>
                                        <div class="text-large">·</div><a href="/blogs/blog-c" class="text-large">Blog C</a>
                                    </div>
                                    <div class="text-small body-medium">Clearly outline your services in a modular way.</div>
                                </div>
                                <div class="divider-dark-16"></div><a href="/case-studies" class="nav-column-item-mobile w-inline-block">
                                    <div class="mobile-links-wrap">
                                        <div class="text-large">Case Studies</div>
                                    </div>
                                    <div class="text-small body-medium">A highly advanced CMS setup for showcasing case studies.</div>
                                </a>
                                <div class="divider-dark-16"></div>
                                <div class="nav-column-item-mobile">
                                    <div class="mobile-links-wrap"><a href="/contact/contact-a" class="text-large">Contact A</a>
                                        <div class="text-large">·</div><a href="/contact/contact-b" class="text-large">Contact B</a>
                                        <div class="text-large">·</div><a href="/contact/contact-c" class="text-large">Contact C</a>
                                    </div>
                                    <div class="text-small body-medium">Just say hi. We’re always curious to hear what you’re building.</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </nav>
                <a href="https://www.byq.studio/template/halden-miller?utm_source=webflow&amp;utm_medium=referral&amp;utm_campaign=halden-miller (edited)" button="" data-wf--cta-small--variant="primary" target="_blank" class="cta-small w-inline-block">
                    <div class="button-text-mask button-2">
                        <div button-text="" class="button-text" aria-label="Get Template">
                           <div class="text-medium">Get d template</div>
                        </div>
                    </div>
                    <div button-bg="" class="button-bg"></div>
                </a>
            </div>
            <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-1"></div>
        </div>
        <div class="nav-blur left" style="opacity: 0;"></div>
        <div class="nav-blur right" style="opacity: 0;"></div>
        <div class="nav-blur mobile"></div>
    </div>
